.spinner {
  border: 4px solid; /* Light grey */
  border-color: #000000;
  border-top: 4px solid transparent; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
